@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-nav-bar-light: #687eff;
  --text-nav-bar-light: white;
  --bg-nav-bar-dark: black;
  --text-nav-bar-dark: #687eff;
  --bg-body-light: white;
  --text-body-light: black;
  --bg-body-dark: rgb(37, 37, 37);
  --text-body-dark: #80b3ff;
}
#dark .navbar {
  background-color: var(--bg-nav-bar-dark);
  color: var(--text-nav-bar-dark);
}

#light .navbar {
  background-color: var(--bg-nav-bar-light);
  color: var(--text-nav-bar-light);
}

#light .switch {
    background-color: white;
    color: var(--text-nav-bar-dark);
    box-shadow:  0 4px 6px -1px #3245b5, 0 2px 4px -2px #3245b5;

  }
  
  #dark .switch {
    background-color: var(--bg-nav-bar-light);
    color: var(--text-nav-bar-light);
    /* box-shadow: 0 4px 6px -1px #B6FFFA; */
   box-shadow:  0 4px 6px -1px #B6FFFA, 0 2px 4px -2px #B6FFFA;
  }
#dark .body {
  background-color: var(--bg-body-dark);
  color: var(--text-body-dark);
}

#light .body {
  background-color: var(--bg-body-light);
  color: var(--text-body-light);
}
